/* 
#b9ce4
: caroussel
//https://frontbackend.com/css/css-vertical-carousels
*/

*{
  margin: 0;
  padding: 0;
  font-family: 'lato',sans-serif;
  box-sizing: border-box;
}

:root{
  --kprimary:#1e377c;
  --kwhite:#fff;
  --kblak:#000;
  --kgrey: grey;
  --kgray: gray;
  --kbg:#efefef;
}

body{
  background: var(--kwhite);
}

.nav{
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  right: 0;
  background: var(--kwhite);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  padding: 30px 5%;
  box-shadow: 0 4px 5px rgba(27, 27, 147, 0.5);
}
.nav .logo img{
  width: 150px;
  height: 120px;
  object-fit: contain;
}
.nav .logo a{
  text-decoration: none;
  color: var(--kprimary);
}
.nav .logo a span{
  font-size: 25px;
  color: var(--kprimary);
}
.icon-phone{
  z-index: 10001;
  cursor: pointer;
  display: none;
}
.icon-phone img{
  width: 40px;
  height: 40px;
}
/* ========================================== NAV BAR END  ======================================================== */
.usalama{
  width: 100%;
  height: 400px;
  margin-top: 70px;
  background: url('../img/DSC_10.jpg');
  object-fit: cover;
}
.usalama .child{
  width: 100%;
  height: 100%;
  color: var(--kprimary);
  text-align: center;
  align-content: center;
  background: rgb(9, 9, 9, 0.5);
}

.usalama .child h4{
  font-size: 40px;
  padding-top:17rem;
}
.usalama .child p{
  color: var(--kwhite);
}

.list ul{
  display: flex;
  list-style: none;
  padding: 20px;
  justify-content: center;
}

.list ul li{
  margin:0 20px;
  font-size: 17px;
  color: #fff;
}

.list ul li a{
text-decoration: none;
color:var(--kprimary);
align-items: center;
padding-bottom: 10px;
transition: all .45s ease;
}
.list ul li a:hover{
  text-decoration: none;
  border-bottom: 3px solid var(--kprimary);
} 

.online-title{
  margin-top: 40px;
  text-align: center;
}
.online-title h2{
  margin-bottom: 3px;
  margin-top:80px;
  font-size: 30px;
}

.online-title hr{
  border: 1px solid black;
  width: 100px;
  margin-bottom: 15px;
}

.carousel{
    width: 70%;
    height: 500px;
    margin: auto;
    overflow-x: hidden; 
    position: relative;
    display: flex;
    justify-content: flex-start;
    border-radius: 0; 
    background: black;
}

/* ============ */
.carousel-inner{
    height: 100%;
    /* min-width: 400%; */
    display: flex;
    transition: all ease .5s;
}
.carousel-item{
    flex: 1;
    /* width: 500px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.carousel-item h1{
    opacity: .5;
}
.carousel-controls .prev{
    display: inline-block;
    height: 32px;
    width: 32px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('./img/prev.svg');
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: .5;
}
.carousel-controls .next{
    display: inline-block;
    height: 32px;
    width: 32px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('./img/next.svg');
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: .5;
}
.prev:hover, .next:hover{
    opacity: 1;
}
.carousel-indicators{
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.carousel-indicators span{
    display: inline-block;
    background-color: white;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    opacity: .5;
    cursor: pointer;
    margin: 3px;
}
.carousel-indicators span.active{
  opacity: 1;
}



/* ============== */

/* All title and buttons more and common things*/
.all-title{
  /* margin-left: 15%; */
  margin-top: 40px;
  text-align: center;
}
.all-title p{
  color: var(--kgrey);
  font-size: 13px;
}

.all-buttons-container{
    position: relative;
    margin: 0.5em auto;
    text-align: center;
    background: transparent;
}
.all-button-more{
    border: 2px solid var(--kgrey);
    background: transparent;
    font-size: 12px;
    outline: 0;
    padding: 7px 25px;
    font-size: 18px;color: var(--kgrey);
    cursor: pointer;
}

.all-button-more:hover{
    /* background: var(--kprimary); */
  border: 2px solid var(--kprimary);
  color: var(--kprimary);
}

.card-link{
  text-decoration: none;
  /* overflow: hidden;
  margin: 0;
  padding: 0; */
}
/* ============ */

/* Recent part */
.recent-container{
    /* position: relative; */
    align-items: center;
    background: var(--kwhite);
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 10px; */
    color: var(--kwhite);
    padding: 10px;
}


/* .recent-container a{
  text-decoration:none;
} */
/* .recent-card:hover{
    box-shadow: 5px 5px 5px var(--kgrey);
} */
.recent-container .recent-card{
    background: transparent;
    width: 370px;
    height: 340px;
    margin: auto;
    margin-top: 10px;
}

.card-child1{
  height: 60%;
  background: var(--kblak);
  overflow-y: hidden;
}

.card-child1 .pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: none;
  outline: none; */
  
}

.card-child2{
    background: var(--kwhite);
    color: #000;
    text-align: center;
    margin-left: 7px;
}

.card-child2 .child1 p{
    color: var(--kblak); 
    padding-top: 6px; 
    text-transform: uppercase; 
    margin-bottom: 5px; 
    font-size: 14px;
}

.recent-card .card-child2 .child1{
    height: auto;
    background: transparent;
}

.recent-card .card-child2 .child2{
    display: flex;
    color: var(--kgray);
    margin-top: 15px;
    margin: 10;
    justify-content: space-between;
}

.recent-card:hover{
   transform: scale(1.1);
  transition: .5s ease-in;
  cursor: pointer;
}
/* ============= */

/* blog-card */
.business-container .blog-card{
  background: var(--kwhite); 
  width: 240px;
  height: 260px;
  margin: 7px;
  overflow-x: hidden;
}

/* .card a{
  text-decoration: none;
} */
.card-picture{
  height: 60%;
  background: var(--kblak);
  overflow-y: hidden;
}

.card-picture .photo{
  width: 100%;
  height: 100%;
}

/* .card-titles{
  display: block;
  margin: 0.1em;
}

.card-titles .element0 p{
  margin-top: 12px;
  color: var(--kblak);
  margin-bottom: 10px;
}

 
.sub-element .element1{
  display: flex;
  justify-content: space-between;
  color: var(--kgray);
  font-weight: 400;
} */

.blog-card:hover{
  transform: scale(1.1);
  cursor: pointer;
  overflow: hidden;
  transition: 1s ease;
}

/* =========================== */
/* partenaire */
.partner{
  position: relative;
  align-items: center;
  background: black;
  width: 60%;
  height: 60px;
  margin: auto;
  display: flex;
  margin-top: 30px;
  color: var(--kwhite);
  padding: 10px; 
}
/* =========== */

/* footer */
.foot-container{
  position: relative;
  background: var(--kbg);
  width: 100%;
  display: flex;
  margin-top: 40px;
  padding: 30px;
  color: var(--kblak);
  justify-content: space-around;
}

.foot-container .foot-logo{
  color: var(--kblak);
  font-size: 13px;
  display: block;
}

.foot-container .foot-logo img{
  width: 120px;
  height: 120px;
  object-fit: contain;
}
.foot-container .foot-logo h3{
  font-size: 25px;
  color: var(--kprimary);
}
.foot-container .foot-logo p{
  font-size: 15px;
}

.foot-container .foot-logo .droit{
  margin-top: 30px;
}

.foot-container-adresse{
  display: block;
  justify-content: center;
  align-items: center;

}
.foot-container-adresse p{
  font-size: 15px;
  color: var(--kblak);
  margin-bottom:3px;
  margin-top: 10px;
}
.foot-container-adresse h3{
  font-weight: 200;
  align-items: center;
}

.foot-container .adresse{
  /* width: 200px; */
  /* margin-right: 20px; */
  color: var(--kgray);
}

.foot-container-icons {
  color: var(--kprimary);
}

/* responsivite */
/* first break point */
@media (max-width: 1480px){
  .nav{
    padding: 12px 20%;
    transition: .1s;
  }
  .recent-container,
  .business-container{
    display: flex;
  }
  .business-container .blog-card{
    width: 320px;
    height: 300px;
  }
  .online-title{
    margin-left: 15%;
  }
  .online-title h2{
    font-size: 30px;
  }
  .under{
    border: 1px solid black;
    width: 80px;
    margin-bottom: 15px;
  }
}

/* second break point */
@media (max-width: 1100px){
  .nav{
    padding: 12px 5%;
    transition: .1s;
    background: var(--kblak);
  }
  .nav .list ul li a{
    font-size: 15px;
  }
  .recent-container{
    display: flex;
  }
  .recent-container .recent-card .card-child2 .child1 p{
    font-size: 12px;
  }
.recent-container .recent-card .card-child2 .child2 p{
  font-size: 12px;
}
  .recent-container .recent-card{
    height: 280px;
  }
  .business-container{
    display: flex;
  }
  .business-container .blog-card{
    width: 240px;
    height: 220px;
    overflow: hiddens;
    font-size: 11px;
  }

  .business-container .blog-card:hover{
    transform: scale(1);
    cursor: pointer;
    overflow: hidden;
    transition: 1s ease;
  }
  .online-title h2{
    font-size: 30px;
  }

  /*  */
  .under{
    border: 1px solid black;
    width: 70px;
    margin-bottom: 15px;
  }
}

/* @media(max-width: 1160px){
  .business-container .blog-card{
    width: 240px;
    height: 200px;
    overflow: hiddens;
    font-size: 12px;
  }
} */
@media (max-width:920px) {
  .C-carousel{
    width: 100%;
  }
  .recent-container{
    display: block;
    background: var(--kwhite);
  }
  .recent-container .recent-card{
     width: 100%;
  }
  .recent-container .recent-card{
    height: 320px;
  }
  .recent-container .recent-card .card-child2 .child1 p{
    font-size: 14px;
  }
  .recent-container .recent-card .card-child2 .child2 p{
    font-size: 12px;
  }
  .business-container{
    width: 60%;
    display: grid;
    /* grid-template-columns: repeat(auto-fit,minmax(280px,auto));
    gap: 2.5rem; */
    grid-template-areas:"a b";
    background: var(--kwhite);
    /* gap: 5px; */
  }
  .business-container .blog-card{
    width: 280px;
    height: 260px;
    font-size: 14px;
  }
  .under{
    border: 1px solid black;
    width: 60px;
    margin-bottom: 15px;
  }
  .business-container .blog-card:hover{
    transform: scale(1.2);
    cursor: pointer;
    overflow: hidden;
    transition: 1s ease;
  }
  /* .C-carousel{
    display: none;
  } */
  .pen-controls{
    display: none;
  }
}
@media (max-width:820px) {
  .nav{
    background: var(--kblak);
  }
  .icon-phone{
    display: block;
  }
  .list{
    position: absolute;
    top: -1000px;;
    right: 0;
    left: 0;
    background: rgb(0, 0, 0,0.5);
    text-align: left;
    transition: all .45s ease;
  }
  .list.open{
    top: 100%;
  }
  .list ul{
    display: flex;
    flex-direction: column;
  }
  .list ul li a{
    display: block;
    /* margin: 2px; */
    font-size: 12px;
    transition: all .45s ease;
  }
  .list ul li a:hover{
    color: var(--kblak);
    transition: all .4s ease;
    border-bottom: none;
  }
  .recent-container .recent-card{
    width: 100%;
    height: 100%;
  }

  .business-container{
    display: block;
  }
  .business-container .blog-card{
    width: 340px;
    height: 280px;
    margin: 10px auto;
  }
  .business-container .blog-card .card-picture{
    height: 70%;
  }
  .recent-container .recent-card .card-child2 .child1 p{
    font-size: 15px;
  }
  .recent-container .recent-card .card-child2 .child2 p{
    font-size: 12px;
  }

  .business-container .blog-card{
    width: 100%;
    height: 100%;
  }
}
/* 510 */

 
@media (max-width:420px) {
  .nav{
    background: var(--kblak);
  }
  .icon-phone{
    display: block;
  }
  .list{
    position: absolute;
    top: -1000px;;
    right: 0;
    left: 0;
    background: rgb(0, 0, 0,0.5);
    text-align: left;
    transition: all .45s ease;
  }
  .list.open{
    top: 100%;
  }
  .list ul{
    display: flex;
    flex-direction: column;
  }
  .list ul li a{
    display: block;
    /* margin: 2px; */
    font-size: 12px;
    transition: all .45s ease;
  }
  .list ul li a:hover{
    color: var(--kblak);
    transition: all .4s ease;
    border-bottom: none;
  }
  .recent-container .recent-card{
    width: 100%;
    height: 100%;
  }

  .business-container{
    display: block;
  }
  .business-container .blog-card{
    width: 340px;
    height: 280px;
    margin: 10px auto;
  }
  .business-container .blog-card .card-picture{
    height: 70%;
  }
  .recent-container .recent-card .card-child2 .child1 p{
    font-size: 15px;
  }
  .recent-container .recent-card .card-child2 .child2 p{
    font-size: 12px;
  }

  .business-container .blog-card{
    width: 100%;
    height: 100%;
  }
}


@media screen and (max-width:360px) {
  .nav{
    background: var(--kblak);
  }
  .icon-phone{
    display: block;
  }
  .list{
    position: absolute;
    top: -1000px;;
    right: 0;
    left: 0;
    background: rgb(0, 0, 0,0.5);
    text-align: left;
    transition: all .45s ease;
  }
  .list.open{
    top: 100%;
  }
  .list ul{
    display: flex;
    flex-direction: column;
  }
  .list ul li a{
    display: block;
    /* margin: 2px; */
    font-size: 12px;
    transition: all .45s ease;
  }
  .list ul li a:hover{
    color: var(--kblak);
    transition: all .4s ease;
    border-bottom: none;
  }
  .recent-container .recent-card{
    width: 100%;
    height: 100%;
  }

  .business-container{
    display: block;
  }
  .business-container .blog-card{
    width: 340px;
    height: 280px;
    margin: 10px auto;
  }
  .business-container .blog-card .card-picture{
    height: 70%;
  }
  .recent-container .recent-card .card-child2 .child1 p{
    font-size: 15px;
  }
  .recent-container .recent-card .card-child2 .child2 p{
    font-size: 12px;
  }

  .business-container .blog-card{
    width: 100%;
    height: 100%;
  }
}

/* ===========================================   LES ARTICLES =================================== */
.direction{
  width: 100%;
  height: 200px;
  margin-top: 50px;
  background-color: var(--kbg);
}

.direction .child{
  background: transparent;
  display: flex;
  justify-content: space-around;
  padding: 70px 40px;
}

.direction .child .chemin{
  background: transparent;
  
}

.direction .child h4{
  color: var(--kblak);
  font-size: 30px;
}
.direction .child p{
  color: var(--kgrey);
  margin-left: 20px;
}

.carousels{
  width: 70%;
  height: 200px;
  margin: auto;
  overflow-x: hidden; 
  position: relative;
  display: flex;
  justify-content: flex-start;
  border-radius: 0; 
  background: black;
}

/* ==========================================   End   ====================================== */
/* ==========================================  Apropos ====================================== */
.contents{
  width: 60%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
 
}

.contents p{
  font-size:20px;
  font-weight: 300px;
  text-align:center;
  margin-bottom: 20px;
}

.contents h3,h4{
  margin: 20px;
}

.contents h2{
  margin: 20px;
  color: var(--kgray);
}
.contents hr{
  border: 1px solid black;
  margin-top: 15px;
}
/* ========================================== end  ===========================================*/

/* ========================================== single ========================================== */
.share{
  width: 70%;
  margin: auto;
  display: flex;
  padding: 7px 7px;
  justify-content: space-between;
  background: transparent;
  align-items: center;
}
.share .part-one{
  display: flex;
}
.share .part-one p{
  margin-left: 7px;
  color: var(--kgray);
}
.share .part-three a{
  text-decoration: none;
  color: var(--kblack);
  font-size: 22px;
}

.single-card-container{
  position: relative;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  width: 70%;
  margin: auto;
  display: block;
  margin-top: 20px;
}

.photo-single{
  position: relative;
  /* align-items: center; */
  background: transparent;
  width: 100%;
  margin: auto;
  display: flex;
}

.photo-single img{
width: 50%;
object-fit: cover;
/* margin-left: 10px; */
  /* height: 100%; */
}

.article-type{
width: 50%;
display: block;
padding-right: 30px;
padding-top: 10px;
/* background: var(--kbg); */
}
.article-type h4{
font-weight: 400;
font-size: 20px;
}
.article-type p{
font-weight: 200;
font-size: 20px;
color: var(--kgray);
}

.article-type .icons{
margin-left: 8em;
}

.article-type .icons a{
font-size: 20px;
text-decoration: none;
color: var(--kgray);
}
.article-type .icons a:hover{
color: var(--kblack);
}
.single-card-container p{
font-size:18px;
font-weight: 300px;
text-align:justify;
margin-bottom: 15px;
margin-top: 20px;

}

/* ===================================================================================================== */