/* 
#b9ce4
: caroussel
//https://frontbackend.com/css/css-vertical-carousels
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&family=Quicksand:wght@300;400&display=swap');
 

*{
  margin: 0;
  padding: 0;
  /* font-family: 'lato',sans-serif; */
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-family: 'Quicksand', sans-serif;
}

:root{
  --kprimary:#1e377c;
  --kwhite:#fff;
  --kblak:#000;
  --kgrey: grey;
  --kgray: gray;
  --kbg:#efefef;
}

body{
  background: var(--kwhite);
}

.nav{
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  right: 0;
  background: var(--kwhite);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  padding: 30px 5%;
  box-shadow: 0 4px 5px rgba(27, 27, 147, 0.5);
}
.nav .logo img{
  width: 150px;
  height: 120px;
  object-fit: contain;
}
.nav .logo a{
  text-decoration: none;
  color: var(--kprimary);
}
.nav .logo a span{
  font-size: 25px;
  color: var(--kprimary);
}
.icon-phone{
  z-index: 10001;
  cursor: pointer;
  display: none;
}
.icon-phone img{
  width: 40px;
  height: 40px;
}
.list ul{
  display: flex;
  list-style: none;
  padding: 20px;
  justify-content: center;
}

.list ul li{
  margin:0 20px;
  font-size: 17px;
  color: #fff;
}

.list ul li a{
text-decoration: none;
color:var(--kprimary);
align-items: center;
padding-bottom: 10px;
transition: all .45s ease;
}
.list ul li a:hover{
  text-decoration: none;
  border-bottom: 3px solid var(--kprimary);
} 
/* ========================================== NAV BAR END  ======================================================== */
.usalama{
  width: 100%;
  height: 400px;
  margin-top: 70px;
  background: url('https://www.acquachiaracongo.it/images/galleria/gomanotte.jpg') no-repeat center;
  background-size: cover;
}
.usalama .child{
  width: 100%;
  height: 100%;
  color: var(--kprimary);
  text-align: center;
  align-content: center;
  background: rgb(0, 0, 0,.4);
}

.usalama .child .slogan{
  font-size: 20px;
  font-weight: 400;
}
.usalama .child .slogan span{
  color: var(--kprimary);
}

.usalama .child h4{
  font-size: 60px;
  padding-top:14rem;
}
.usalama .child p{
  color: var(--kwhite);
}

.carousel{
    width: 70%;
    height: 500px;
    margin: auto;
    overflow-x: hidden; 
    position: relative;
    display: flex;
    justify-content: flex-start;
    border-radius: 0; 
    background: black;
}

/* ======================================================================================================== */
.carousel-inner{
    height: 100%;
    /* min-width: 400%; */
    display: flex;
    transition: all ease .5s;
}
.carousel-item{
    flex: 1;
    /* width: 500px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.carousel-item h1{
    opacity: .5;
}
.carousel-controls .prev{
    display: inline-block;
    height: 32px;
    width: 32px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('./img/prev.svg');
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: .5;
}
.carousel-controls .next{
    display: inline-block;
    height: 32px;
    width: 32px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('./img/next.svg');
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: .5;
}
.prev:hover, .next:hover{
    opacity: 1;
}
.carousel-indicators{
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.carousel-indicators span{
    display: inline-block;
    background-color: white;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    opacity: .5;
    cursor: pointer;
    margin: 3px;
}
.carousel-indicators span.active{
  opacity: 1;
}



/* ============== */

/* All title and buttons more and common things*/
.all-title{
  /* margin-left: 15%; */
  margin-top: 40px;
  text-align: center;
}
.all-title p{
  color: var(--kgrey);
  font-size: 13px;
}

.all-buttons-container{
    position: relative;
    margin: 0.5em auto;
    text-align: center;
    background: transparent;
}
.all-button-more{
    border: 2px solid var(--kgrey);
    background: transparent;
    font-size: 12px;
    outline: 0;
    padding: 7px 25px;
    font-size: 18px;color: var(--kgrey);
    cursor: pointer;
}

.all-button-more:hover{
    /* background: var(--kprimary); */
  border: 2px solid var(--kprimary);
  color: var(--kprimary);
}

.card-link{
  text-decoration: none;
  /* overflow: hidden;
  margin: 0;
  padding: 0; */
}
/* ============ */

/* Recent part */
.recent-container{
    /* position: relative; */
  align-items: center;
  background: var(--kwhite);
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 10px; */
  color: var(--kwhite);
  padding: 10px;
}
 
.recent-container .recent-card{
    background: transparent;
    width: 330px;
    height: 340px;
    margin: auto;
    margin-top: 10px;
}

.card-child1{
  height: 60%;
  background: var(--kblak);
  overflow-y: hidden;
}

.card-child1 .pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: none;
  outline: none; */
  
}

.card-child2{
    background: var(--kwhite);
    color: #000;
    text-align: center;
    margin-left: 7px;
}

.card-child2 .child1 p{
    color: var(--kblak); 
    padding-top: 6px; 
    text-transform: uppercase; 
    margin-bottom: 5px; 
    font-size: 14px;
}

.recent-card .card-child2 .child1{
    height: auto;
    background: transparent;
}

.recent-card .card-child2 .child2{
    display: flex;
    color: var(--kgray);
    margin-top: 15px;
    margin: 10;
    justify-content: space-between;
}

.recent-card:hover{
   transform: scale(1.1);
  transition: .5s ease-in;
  cursor: pointer;
}
/* ====================================================================================== */

/*============================ footer ===================================================*/
.foot-container{
  position: relative;
  background: var(--kbg);
  width: 100%;
  display: flex;
  margin-top: 40px;
  padding: 30px;
  color: var(--kblak);
  justify-content: space-around;
}

.foot-container .foot-logo{
  color: var(--kblak);
  font-size: 13px;
  display: block;
}

.foot-container .foot-logo img{
  width: 120px;
  height: 120px;
  object-fit: contain;
}
.foot-container .foot-logo h3{
  font-size: 25px;
  color: var(--kprimary);
}
.foot-container .foot-logo p{
  font-size: 15px;
}

.foot-container .foot-logo .droit{
  margin-top: 30px;
}

.foot-container-adresse{
  display: block;
  justify-content: center;
  align-items: center;

}
.foot-container-adresse p{
  font-size: 15px;
  color: var(--kblak);
  margin-bottom:3px;
  margin-top: 10px;
}
.foot-container-adresse h3{
  font-weight: 200;
  align-items: center;
}

.foot-container .adresse{
  color: var(--kgray);
}

.foot-container .icons a{
  color: var(--kprimary);
  font-size: 20px;
  text-decoration: none;
  padding: 8px;

}

.foot-container .icons a:hover{
 background: var(--kprimary);
 color: var(--kwhite);
}
/* ======================================================================================= */

/* ===========================================   LES ARTICLES =================================== */
.direction{
  width: 100%;
  height: 200px;
  margin-top: 50px;
  background-color: var(--kbg);
}

.direction .child{
  background: transparent;
  display: flex;
  justify-content: space-around;
  padding: 70px 40px;
}

.direction .child .chemin{
  background: transparent;
  
}

.direction .child h4{
  color: var(--kblak);
  font-size: 30px;
}
.direction .child p{
  color: var(--kgrey);
  margin-left: 20px;
}

.carousels{
  width: 70%;
  height: 200px;
  margin: auto;
  overflow-x: hidden; 
  position: relative;
  display: flex;
  justify-content: flex-start;
  border-radius: 0; 
  background: black;
}

/* ==========================================   End   ====================================== */
/* ==========================================  Apropos ====================================== */
.contents{
  width: 60%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
 
}

.contents p{
  font-size:20px;
  font-weight: 300px;
  text-align:center;
  margin-bottom: 20px;
}

.contents h3,h4{
  margin: 20px;
}

.contents h2{
  margin: 20px;
  color: var(--kgray);
}
.contents hr{
  border: 1px solid black;
  margin-top: 15px;
}
/* ========================================== end  ===========================================*/

/* ========================================== single ========================================== */
.share{
  width: 70%;
  margin: auto;
  display: flex;
  padding: 7px 7px;
  justify-content: space-between;
  background: transparent;
  align-items: center;
}
.share .part-one{
  display: flex;
}
.share .part-one p{
  margin-left: 7px;
  color: var(--kgray);
}
.share .part-three a{
  text-decoration: none;
  color: var(--kblack);
  font-size: 22px;
}

.single-card-container{
  position: relative;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  width: 60%;
  margin: auto;
  display: block;
  margin-top: 20px;
  text-align: justify;
}

.single-card-container .start{
  width: 100%;
  height: 470px;
  background: transparent;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  margin-top: 10px;
  margin-bottom: 10px;
}

.single-card-container .start .start-picture{
  width: 100%;
  height: 100%;
  background: black;
  object-fit: cover;
}
/* .single-card-container .start .start-picture img{
  width: 100%;
  height: 100%;
} */

/* More articles */
.single-card-container .read-more{
  margin-top: 17px;
}
.single-card-container .more-article{
  background: transparent;
  width: 100%;
  height: 250px;
  display: flex;
 
}
.more-card{
  width: 170px;
  height: 220px;
  margin: auto;
  /* border: 1px solid var(--kbg); */
  text-align: center;
}
.more-card img{
  width: 100%;
  height: 60%;
  object-fit: cover
}

.more-card h4{
  font-size: 10px;
}
.more-card a{
  font-size: 17px;
  color: var(--kprimary);
  border: 1px solid var(--kprimary);
  padding: 0px 45px;
  background: transparent;
  text-decoration: none;
}
/* ==================================================================== */
.photo-single{
  position: relative;
  /* align-items: center; */
  background: transparent;
  width: 100%;
  margin: auto;
  display: flex;
}

.photo-single img{
width: 50%;
object-fit: cover;
}

.partie-deux{
  width: 100%;
  height: 500px;
  background: transparent;
  display: flex;
  flex-direction: column;
  background: green;
}

.partie-deux .image2{
  background: red;
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.partie-deux .image3{
  width: 100%;
  height: 200px;
  background: #1e377c;
  display: flex;
}

.partie-deux .image3 .sous-un{
  width: 50%;
  height: 100%;
  border: 1px solid var(--kgray);
  object-fit: cover;
}
.partie-deux .image3 .sous-deux{
  width: 50%;
  height: 100%;
  border: 1px solid var(--kgray);
  object-fit: cover;
}

.article-type{
width: 50%;
display: block;
padding-right: 30px;
padding-top: 10px;
/* background: var(--kbg); */
}
.article-type h4{
font-weight: 400;
font-size: 20px;
}
.article-type p{
font-weight: 200;
font-size: 20px;
color: var(--kgray);
}

.article-type .icons{
margin-left: 8em;
}

.article-type .icons a{
font-size: 20px;
text-decoration: none;
color: var(--kgray);
}
.article-type .icons a:hover{
color: var(--kblack);
}
.single-card-container p{
font-size:18px;
font-weight: 300px;
text-align:justify;
margin-bottom: 15px;
margin-top: 20px;

}
/* ===================================================================================================== */
/* ======================================== CONTACTS =================================================== */
.container{
  background:  transparent;
  width: 50%;
  height: 300px;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}

.container h5{
  margin-bottom: 10px;
}
.container .item{
  width: 300px;
  height: 40px;
  background: var(--kbg);
  border-right: 3px solid #1e377c;
  margin: auto;
  margin-bottom: 7px;
  padding: 10px;
  /* text-align: center; */
}
.container .items{
  width: 300px;
  height: 40px;
  background: var(--kbg);
  border-left: 3px solid green;
  margin: auto;
  margin-bottom: 7px;
  padding: 10px;
}
/* ===================================================================================================== */
/* responsivite */
@media screen and (max-width: 1024px){
  .nav{
    padding: 12px 20%;
    transition: .1s;
  }
  .recent-container {
    display: flex;
  }
  .online-title{
    margin-left: 15%;
  }
  .online-title h2{
    font-size: 30px;
  }
 
}

/* second break point */
@media (max-width: 600px){
  .nav{
    padding: 12px 5%;
    transition: .1s;
    background: var(--kwhite);
    
  }
  .nav .list{
    position: absolute;
    background:  transparent;
    margin-top: 65px;
    right: 0;
    margin-bottom: 50px;
  }
  .nav .list ul li{
    padding: 0;
    margin: 3px;
  }
  .list ul li a:hover{
    text-decoration: none;
    color: #000;
    border-bottom: none;
  } 
  .nav .list ul li a{
    font-size: 14px;
  }
 
  .recent-container{
    width: 97%;
    display: flex;
    flex-direction: column;
  }
  .recent-container .recent-card{
    width: 100%;
    height: 380px;
  }
  .recent-container .recent-card .card-child2 .child1 p{
    font-size: 12px;
  }
  .recent-container .recent-card .card-child2 .child2 p{
    font-size: 12px;
  }
  /* .recent-container .recent-card{
    height: 280px;
  } */

  .recent-card :hover{
    border: 1px solid var(--kprimary);
  }

  .foot-container{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .foot-container .foot-logo p, 
  .foot-container-adresse p, 
  .foot-container .icons p{
    font-size: 17px;
  }

  .foot-container .icons{
    margin: 10px;
  }
  .droit{
    position: absolute;
    bottom: 2px;
    text-align: center;
    background: transparent;
    width: 90%;
    margin: auto;
  }

  .usalama{
    width: 100%;
    height: 400px;
    margin-top: 70px;
    /* background: url('https://www.africangorilla.com/wp-content/uploads/2019/03/goma-768x300.jpg'); */
    /* https://www.africangorilla.com/wp-content/uploads/2019/03/goma-768x300.jpg */
    background: url('https://www.acquachiaracongo.it/images/galleria/gomanotte.jpg');
    background-size: cover;
  }
  .usalama .child{
    width: 100%;
    height: 100%;
    color: var(--kprimary);
    text-align:  center;
    align-content: center;
    background: rgb(0, 0, 0,.5);
  }
  .usalama .child h4{
    font-size: 30px;
    padding-top:16rem;
  }
  .usalama .child p{
    color: var(--kwhite);
  }
  .direction .child h4{
    color: var(--kblak);
    font-size: 20px;
  }
  .direction .child p{
    color: var(--kgrey);
    font-size: 15px;
    margin-left: 20px;
  }

  .single-card-container{
    width: 98%;
    padding: 5px;
  }
  .single-card-container .oo2{
    background: transparent;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
  }

  

  /* ====== apropos ======= */
  .contents{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
   
  }
  
  .contents p{
    font-size:17px;
    font-weight: 300px;
    text-align:center;
    margin-bottom: 20px;
  }
  
  .contents h3,h4{
    margin: 20px;
  }
  
  .contents h2{
    margin: 20px;
    color: var(--kgray);
  }
  .contents hr{
    border: 1px solid black;
    margin-top: 15px;
  }

  .share .part-one{
    display: flex;
  }
  .share .part-one p{
    font-size: 18px;
    color: var(--kgray);
  }
  .share .part-three a{
    text-decoration: none;
    color: var(--kblack);
    font-size: 20px;
  }

  .carousel{
    width: 95%;
    height: 500px;
    margin: auto;
    overflow-x: hidden; 
    position: relative;
    display: flex;
    justify-content: flex-start;
    border-radius: 0; 
    background: black;
}
}